@model ScarpeViewModel

@{
    ViewData["Title"] = "Tutti i Prodotti";
}

<div class="text-center">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="">Prodotti</h1>
        <a class="btn btn-primary h-50" asp-controller="Home" asp-action="Add">Aggiungi un prodotto</a>
    </div>
    <p class="lead">Le scarpe più fighe del momento!</p>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-3">
        @foreach (var scarpa in Model.Scarpe)
        {
            <div>
                <div class="card my-3">
                    <img src="@scarpa.UrlCopertina" class="card-img-top" alt="@scarpa.Modello">
                    <div class="card-body">
                        <h5 class="card-title">@scarpa.Marca</h5>
                        <p class="card-text">@scarpa.Modello</p>
                        <p class="card-text">€ @scarpa.Prezzo.ToString("C")</p>
                    </div>
                    <div class="card-footer bg-white border-0 d-flex justify-content-end mb-2">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Prodotto" asp-route-id="@scarpa.Id">Dettagli</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
