@model ScarpeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex justify-content-between">
    <h1 class="">BestSellers</h1>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Add">Aggiungi un prodotto</a>
</div>
    <p class="lead">Le scarpe più vendute del momento</p>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
        @foreach (var scarpa in Model.Scarpe)
        {
            <div>
                <div class="card">
                    <img src="@scarpa.UrlCopertina" class="card-img-top" alt="@scarpa.Modello">
                    <div class="card-body">
                        <h5 class="card-title">@scarpa.Marca</h5>
                        <p class="card-text">@scarpa.Modello</p>
                        <p class="card-text">€ @scarpa.Prezzo</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Prodotto" asp-route-id="@scarpa.Id">Dettagli</a>
                    </div>

                </div>
            </div>
        }
