@model ScarpaDetails
@{
    ViewData["Title"] = "Dettagli Prodotto";
}

<h3>Dettagli Prodotto</h3>

<div class="d-flex">
    <div class="d-flex flex-column">
    <img src="@Model.UrlCopertina" class="w-100"/>
    <div>
        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id">Rimuovi prodotto</a>
        <a class="btn btn-warning" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">Modifica prodotto</a>
    </div>
    </div>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
            <h4>@Model.Marca</h4>
            <p>€ @Model.Prezzo</p>
        </div>
        <p>@Model.Modello</p>
        <p>@Model.Descrizione</p>
        <div class="d-flex">
            @foreach(var img in Model.Immagini)
            {
                <img src="@img.Url" class="w-25" />
            }
        </div>
    </div>
    
</div>
